@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

body {
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.header {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    font-family: 'Cookie', cursive;
    font-size: 45px;
    font-weight: 700;
}

.logout-btn {
    font-weight: bold;
    background-color: #d22e2e; /* Vermelho escuro */
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transições */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Efeito sombra */
}

.logout-btn:hover,
.logout-btn:focus {
    background-color: #FF0000; /* Vermelho padrão */
    box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.3); /* Efeito sombra aumentado */
}
