@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

body {
    background-image: url('grocery-1232944.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    backdrop-filter: blur(3px);
}

.content {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    width: 400px;
}

.titulo {
    margin-bottom: 20px;
    font-family: 'Cookie', cursive;
    font-size: 50px;
}

.content h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.form-group {
    margin-bottom: 20px;
}

input[type="email"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

input[type="email"]::placeholder,
input[type="password"]::placeholder {
    color: #999;
}

input[type="submit"] {
    background-color: green;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: darkgreen;
}
