@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

/* Estilos gerais */
body {
  background-color: #fff;
  margin: 0;
  padding: 0;
}

/* Cabeçalho */
.header {
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  font-family: 'Cookie', cursive;
  font-size: 60px;
  font-weight: 700;
  background-image: linear-gradient(45deg, #ff003c, #d8df07);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: auto;
}

.logout-btn {
  font-weight: bold;
  background-color: #d22e2e;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.logout-btn:hover,
.logout-btn:focus {
  background-color: #FF0000;
  box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.3);
}

.back-btn {
  font-weight: bold;
  background-color: #2E8B57; /* Cor verde mais escura */
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; /* Transições para background-color e color */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Efeito sombra */
  margin-left: 20px;
}

.back-btn:hover,
.back-btn:focus {
  background-color: #3CB371; /* Cor verde mais clara ao passar o mouse */
  color: white;
  box-shadow: 0px 0px 10px rgba(0, 128, 0, 0.3); /* Efeito sombra aumentado */
}

/* Conteúdo */
.content-container {
  /* Estilos do container de conteúdo */
}

.container {
  background-color: #F8F8FF;
  border-radius: 10px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  font-family: ubuntu;
}

form {
  margin-top: 20px;
}

label {
  display: none; /* Esconder os labels */
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 16px;
}

textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 16px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-container button[type="submit"] {
  text-align: center;
  font-weight: bold;
  background-color: #2E8B57;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

button[type="submit"]:hover,
button[type="submit"]:focus {
  background-color: #3CB371;
  color: white;
  box-shadow: 0px 0px 10px rgba(0, 128, 0, 0.3);
}
