@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.header {
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  font-family: 'Cookie', cursive;
  font-size: 60px;
  font-weight: 700;
  background-image: linear-gradient(45deg, #ff003c, #d8df07);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: auto;
}

.logout-btn {
  font-weight: bold;
  background-color: #d22e2e;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.logout-btn:hover,
.logout-btn:focus {
  background-color: #FF0000;
  box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.3);
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px 0px;
  justify-items: center;
  align-items: flex-start;
  margin-top: 20px;
}


.rectangle {
  width: 500px; /* Ajuste a largura das divs retangulares conforme desejado */
  height: 150px; /* Ajuste a altura das divs retangulares conforme desejado */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F8F8FF;
  padding: 20px;
  border-radius: 10px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  font-family: 'Ubuntu', sans-serif;
}





.rectangle:hover,
.rectangle:focus {
  background-color: #E6E6FA;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.rectangle:hover .emoji,
.rectangle:focus .emoji {
  color: red;
}



.emoji {
  font-size: 40px;
  margin-bottom: 10px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.explanation {
  font-size: 14px;
  text-align: center;
}

.titulodapag {
  font-weight: bold;
  font-family: Roboto;
  text-align: center;
  margin-top: 20px;
}

.back-btn {
  font-weight: bold;
  background-color: #2E8B57; /* Cor verde mais escura */
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; /* Transições para background-color e color */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Efeito sombra */
  margin-left: 20px;
}

.back-btn:hover,
.back-btn:focus {
  background-color: #3CB371; /* Cor verde mais clara ao passar o mouse */
  color: white;
  box-shadow: 0px 0px 10px rgba(0, 128, 0, 0.3); /* Efeito sombra aumentado */
}

